# Auto detect text files and perform LF normalization
* text=auto

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.bmp binary
*.ico binary
*.svg text eol=lf

# Other binary files
*.pdf binary
*.zip binary
*.7z binary
*.rar binary
*.exe binary
*.dll binary
*.mp3 binary
*.mp4 binary

# Whitespace rules
# strict (no trailing, no tabs)
*.cpp    whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.h      whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol

# normal (no trailing)
*.sql    whitespace=trailing-space,space-before-tab,cr-at-eol
*.txt    whitespace=trailing-space,space-before-tab,cr-at-eol

# special files which must ignore whitespace
*.patch  whitespace=-trailing-space eol=lf
*.diff   whitespace=-trailing-space eol=lf

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# Ignore sql/* files
data/sql/*    linguist-documentation
